@using PaperTrail.Web.Models.Catalog
@model PaperTrail.Web.Models.Catalog.CatalogIndex
@{ViewData["Title"] = "Catalog"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="text-muted">Catalog</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Catalog" asp-action="Index">Catalog</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="col-12">
        <!-- Catalog Card List -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Catalog</h3>
            </div>
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <table class="table table-hover table-responsive-sm dataTable" role="grid" id="catalogId">
                        <thead>
                            <tr role="row">
                                <th style="width: 10%;">Image</th>
                                <th class="sorting" tabindex="0" aria-controls="catalogId" aria-sort="ascending" style="width: 20%;">Title</th>
                                <th class="sorting" tabindex="0" aria-controls="catalogId" aria-sort="ascending">Author / Director</th>
                                <th class="sorting" tabindex="0" aria-controls="catalogId" aria-sort="ascending" style="width: 15%;">Call No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var index in Model.Indexes) {
                                <tr class="sorting_1">
                                    <td>
                                        <a
                                        asp-controller="Catalog"
                                        asp-action="Detail"
                                        asp-route-id="@index.Id"
                                        >
                                            <img src="@index.ImageUrl" alt="ImageUrl" class="img-thumbnail" />
                                        </a>
                                    </td>
                                    <td>
                                        <a
                                        asp-controller="Catalog"
                                        asp-action="Detail"
                                        asp-route-id="@index.Id"
                                        >
                                            @index.Title
                                        </a>
                                    </td>
                                    <td>@index.AuthorOrDirector</td>
                                    <td>@index.DeweyCallNumber</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ./Catalog Card List End -->
    </div>
</section>

<style>
    td {
        vertical-align: middle !important;
    }
    .dataTables_info{
        text-align: center;
    }
</style>


