@using PaperTrail.Web.Models.Catalog
@model PaperTrail.Web.Models.Catalog.CatalogIndex

@{ ViewData["Title"] = "Catalog Index"; }

<div id="indexes">
  <h3>Catalog</h3>
  <div id="indexTable">
    <table class="table table-responsive-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Author / Director</th>
          <th scope="col">Dewey Call #</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Indexes)
        {
          <tr>
            <td>
              <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@item.Id">
                <img src="@item.ImageUrl" alt="ImageUrl" class="img-thumbnail">
              </a>
            </td>
            <td>@item.Title</td>
            <td>@item.AuthorOrDirector</td>
            <td>@item.DeweyCallNumber</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
