@model PaperTrail.Web.Models.CheckoutModels.CheckoutModel

<section class="content-header">
    <div class="content-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="text-muted">Reserve @Model.Title</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Catalog" asp-action="Index">Catalog</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Catalog" asp-action="Detail">@Model.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-9">
                <p>There are currently @Model.ReservationCount holds in queue for this item.</p>
                @using (Html.BeginForm("PlaceReservation", "Catalog", FormMethod.Post)){
                    @Html.HiddenFor(a=>a.ItemId)
                    <div>
                        Enter your Card ID Number.
                        @Html.TextBoxFor(a=>a.PatronCardId)
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-info">Reserve Item</button>
                    </div>
                }
            </div>
        </div>
    </div> 
    @* jumbotron end *@
</div>
<section>

