@model PaperTrail.Web.Models.Patron.PatronIndexModel

@{ ViewData["Title"] = "Patrons"; }


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="text-muted">Patron Index</h3>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
                    <!-- dataTables_wrapper -->
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <table class="table table-bordered table-hover table-sm table-responsive-md dataTable" role="grid" id="patronList">
                            <thead>
                                <tr role="row">
                                    <th>Profile Link</th>
                                    <th class="sorting" tabindex="0" aria-controls="patronList" aria-sort="ascending">Last Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="patronList" aria-sort="ascending">First Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="patronList" aria-sort="ascending">Card Id</th>
                                    <th class="sorting" tabindex="0" aria-controls="patronList" aria-sort="ascending">Overdue Fees</th>
                                    <th class="sorting" tabindex="0" aria-controls="patronList" aria-sort="ascending">Local Branch</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var patron in @Model.Patrons)
                                {
                                    <tr class="sorting_1">
                                        <td>
                                            <a asp-controller="Patron" asp-action="Detail" asp-route-patronId="@patron.Id">(Profile)</a>
                                        </td>
                                        <td>@patron.LastName</td>
                                        <td>@patron.FirstName</td>
                                        <td>@patron.PatronCardId</td>
                                        @if(@patron.OverdueFees > 0){
                                            <td class="text-danger">@patron.OverdueFees.ToString("C")</td>
                                        }else{
                                            <td>@patron.OverdueFees.ToString("C")</td>
                                        }
                                        <td>@patron.LocalBranchOffice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- ./dataTables_wrapper -->
                </div>
                <!-- ./Card-Body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
    <!-- ./Row End -->
</section>
<!-- ./Content End -->
